.photo {
  margin-bottom: 30px;
}

.center {
  text-align: center;
}

.logoN {
  margin-top: -15px;
}

.fa-bars {
  background-color: #000
}

.mariage>h2,
.naissance>h2,
.sceance>h2{
  margin-top: 50px;
}

.space{
  margin-top: 50px;
  margin-bottom: 50px;
}

footer{
  margin-top: 15px;
}

@media(max-width:768px) {

  .navbar-custom a{
    color: #000;
  }
}
